@use '../custom';

.custom-edge {
  @include custom.highligth {
    &__background {
      stroke-width: 10px;
      stroke: transparent;
      fill: none;

      &__dropTarget {
        stroke: var(--pf-topology__edge--Stroke);
        stroke-opacity: 0.5;
      }

      &__possibleDropTargets {
        stroke: var(--pf-topology__edge--Stroke);
        stroke-opacity: 0.1;
      }
    }

    &__body {
      stroke: var(--pf-topology__edge--Stroke);
      stroke-width: 1;
      fill: none;
    }

    & &__add-step {
      display: none;
    }

    &:hover &__add-step {
      display: flex;
    }
  }
}
